body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

#cockpit-container {
  max-width: 510px;
  margin: auto;
}

#result-container {
  max-width: 510px;
  margin: auto;
  margin-top: 15px;
}

#search-button {
  padding: 15px 20px;
}

#card-action {
  display: block;
}